# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

common/.cache-main
common/.cache-tests
common/.classpath
common/.project
common/.settings
common/target/

persistence/.cache-main
persistence/.cache-tests
persistence/.classpath
persistence/.project
persistence/.settings
persistence/target/
persistence/logs/

poll-api/.cache-main
poll-api/.cache-tests
poll-api/.classpath
poll-api/.project
poll-api/.settings
poll-api/target/
poll-api/logs/

api/.cache-main
api/.cache-tests
api/.classpath
api/.project
api/.settings
api/target/
api/logs/

web/.cache-main
web/.cache-tests
web/.classpath
web/.project
web/.settings
web/target/
web/logs/

service-template/.cache-main
service-template/.cache-tests
service-template/.classpath
service-template/.project
service-template/.settings
service-template/target/
service-template/logs/

